@import "../generic/colors.scss";

.footer {
    padding: 40px 60px;
    text-align: center;
    color: $cine_light_gray;
    background: $cine_black;
    //background: linear-gradient(180deg, rgba(44, 44, 44, 1) 0%, $cine_black 100%);
    //border-top: 1px solid #6c6c6c;
}

.footer a {
    color: #747474;
}