html {
    touch-action: none;
    user-select: none;
}

body {
    background-color: #141414;
    color: #cecfcf;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}