@import "../generic/colors.scss";

.header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 60px;
    top: 0;
    font-weight: 400;
    z-index: 1;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, $cine_black 100%);
    transition: 0.5s;
    transition-delay: 0.2s;
}

.header.active {
    background-color: $cine_black;
    transition: 0.2s;
    transition-delay: 0s;
}

.header__logo-image {
    width: 105px;
    fill: $cine_orange;
}

.header__nav {
    list-style-type: none;
    margin: 0 0 0 30px;
    padding: 0;
    display: flex;
    align-items: center;
}

.header__nav--options {
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
}

.nav__option {
    display: inline;
    margin-right: 20px;
}

.nav__option-anchor {
    transition: 0.2s;
    text-decoration: none;
    color: $cine_light_gray;
}

.nav__option-anchor:hover,
.nav__option-anchor:focus {
    color: $cine_white;
}

.nav__option-anchor--selected {
    color: $cine_white;
}
