@import "../generic/colors.scss";

.billboard {
    padding-left: 60px;
    padding-top: 25px;
    overflow-x: hidden;
    position: relative;
}

.billboard__background {
    background-image: url("/images/pulp-fiction1.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.billboard__blur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(8px);
}

.billboard__group {
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
}

.group__title {
    margin: 0;
    padding: 0;
    color: $cine_light_gray;
}

.group__list {
    margin-top: 20px;
    display: flex;
}

.movie {
    margin-right: 15px;
    color: $cine_light_gray;
    cursor: pointer;
    transition: 0.2s;
}

.movie:hover {
    color: $cine_light_gray;
}

.movie__preview {
    width: 200px;
    //height: 392px;
}

.movie__info {
}

.movie__title {
    font-size: 14px;
}

.movie__year {
    font-size: 12px;
    color: $cine_light_gray;
}
