@import "../generic/colors.scss";

.billboard {
    padding-left: 60px;
    padding-top: 25px;
    overflow-x: hidden;
    position: relative;
}

.billboard__background {
    background-image: url("/images/pulp-fiction1.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.billboard__blur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(8px);
}

.billboard__gradient {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(44, 44, 44, 1) 100%);
}

.billboard__group {
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
}

.group__title {
    margin: 0;
    padding: 0;
    color: $cine_white;
}

.group__list {
    margin-top: 20px;
    display: flex;
}

.movie {
    margin-right: 15px;
    color: $cine_light_gray;
    cursor: pointer;
    transition: 0.2s;
    width: 200px;
    height: 350px;
    overflow: hidden;
}

.movie:hover {
    color: $cine_white;
}

.movie__preview {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.movie__info {
}

.movie__title {
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0px 1px 5px #000000;
}
