$cine_black: #141414;
$cine_white: #ffffff;

$cine_gray: #2c2c2c;
$cine_light_gray: #c4c4c4;
$cine_dark_gray: #626262;

$cine_orange: #f3651a;
$netflix_red: #e50914;

$cine_skeleton: rgba(100, 100, 100, 0.2);