@import "./components/generic/colors.scss";

html {
  touch-action: none;
  user-select: none;
}

body {
  background-color: $cine_gray;
  color: green;
  font-family: "myriad-pro", sans-serif;
  font-weight: 300;
  margin: 0 auto;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: unset;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
